:root {
    --main-title-color: #FFFFFF;
    --second-title-color: #2E2F42;
    --text-color: #434455;
    --color-hover: #404BBF;
    --background: #2E2F42;
    --background-color-team: #F4F4FD;
    --color-logo-blue: #404BBF;
    --color-logo-black: #2E2F42;
    --color-logo-white: #F4F4FD;
    --btn-color: #4D5AE5;
    --btn-text-color: #FFFFFF;
    --footer-text-color: #E7E9FC;
    --contacts-color: #434455;
    --nav-color: #2E2F42;
    --background-filtr: #E7E9FC;
}
body {
    font-family: 'Roboto', sans-serif; 
    color: #434455;
}
.link {
    text-decoration: none;  
}
.list {
    list-style-type: none;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--color-logo-blue);
    text-transform: uppercase; 
} 
.logo-black {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--color-logo-black);
    text-transform: uppercase;    
} 
.logo-white {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--color-logo-white);
    text-transform: uppercase;
}
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--nav-color);
}
.header-link:hover, .header-link:focus {
    color: var(--color-hover);
}

.header-add {
    font-style: normal;
}

.header-contacts-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contacts-color);
}
.header-contacts-link:hover, .header-contacts-link:focus {
    color: var(--color-hover);
}
/**!-------------------------HERO----------------------------!*/
.hero {
    background-color: var(--background);
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}
.hero-btn {
    font-family: "Roboto", sans-serift;
    background: var(--btn-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    display: flex;
    color: var(--btn-text-color);
    cursor: pointer;
}
.hero-btn:hover, .hero-btn:focus {
    background: var(--color-hover);    
}

/**!-------------------------ADVANT----------------------------!*/
.advant-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}
.advant-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
/**!-------------------------DOINGT----------------------------!*/
.doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-title-color);
}
/**!-------------------------TEAM----------------------------!*/
.team-list {
    background-color: var(--background-color-team);
}


.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-title-color);
}
.team-title-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}
.team-title-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
/**!-------------------------FOOTER----------------------------!*/
.footer {
    background-color: var(--background);
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text-color);
}
/**!-------------------------PROJECTS----------------------------!*/
.projects-btn {
    background: var(--background-filtr);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--btn-color);
}
.projects-btn:hover, .projects-btn:focus {
    background: var(--color-hover);
    color: var(--btn-text-color);
}
.projects-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-title-color)
}
.projects-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}